$darkmode: true;
$primary: #9acaff;
$onPrimary: #003258;
$primaryContainer: #00497d;
$onPrimaryContainer: #cfe4ff;
$secondary: #bac7da;
$onSecondary: #243140;
$secondaryContainer: #3b4857;
$onSecondaryContainer: #d7e4f8;
$tertiary: #d6bee5;
$onTertiary: #3a2947;
$tertiaryContainer: #524060;
$onTertiaryContainer: #f3daff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1a1c1e;
$background: #1a1c1e;
$onBackground: #e2e2e6;
$surface: #1a1c1e;
$onSurface: #e2e2e6;
$surfaceVariant: #42474e;
$onSurfaceVariant: #c3c7cf;
$outline: #8d9199;
$shadow: #000000;
$inverseSurface: #e2e2e6;
$inverseOnSurface: #2f3033;
$inversePrimary: #0061a3;
